
.wrapper {
    width: 101%;
    height: 80px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
    opacity: 0.5;
}

.title {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.fl {
    float: left;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.menu {
    height: 80px;
    border-left: 1px solid #ccc;
    border-right: 1px solid rgba(255,255,255,0.3);
    margin: 0 auto;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #ccc;
    height:79px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

ul.menu {
            padding: 0;
            display:block;
            width:450px;
        }

ul.menu li {
    list-style: none;
    height: 79px;
    display:inline-block;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgb(79, 88, 93)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }

ul.menu li a {
        padding: 0 20px;
        border-left: 2px solid rgba(255,255,255,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
        text-align: center;
        line-height: 79px;
   
        background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
        -webkit-transition-property: background;
        -webkit-transition-duration: 700ms;
        -moz-transition-property: background;
        -moz-transition-duration: 700ms;
        }

ul.menu li a:hover {
    background: transparent none;
}





ul.menu li.active a{

    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}


/*Contact box*/
        p.one {
            background-color: black;
            width: 300px;
            height: 250px;
            border: 10px solid silver;
            padding: 25px;
            margin: 25px;
        }
   