
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="cont">
    <div class="imgDetail">
        <a target="_blank" href="~/images/IMG-20141105-WA0000.jpg" width="300" height="200">
            <img src="~/images/IMG-20141105-WA0000.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="name">Tebogo Mokasola</div>
        <div class="Info">
            <div class="desc">
                <p>
                    Analytical and logical thinker *Ability to do Trend Analysis *Planning/Organizing * Self-Motivated/Ability to Work with Little or No Supervision.*Dedication/Hard-Working/Work Ethic/Tenacity.
                </p>
            </div>
        </div>
    </div>

    <div class="imgDetail">
        <a target="_blank" href="~/images/th1N1SJ207.jpg" width="300" height="200">
            <img src="~/images/th1N1SJ207.jpg" alt="Forest" width="300" height="200">
        </a>
        <div class="name">ffffff</div>
        <div class="desc">ffffff</div>
    </div>


    <div class="imgDetail">
        <a target="_blank" href="~/images/188110.jpg" width="300" height="200">
            <img src="~/images/188110.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div class="name">ffffff</div>
        <div class="desc">ffffff</div>
    </div>
</div>




