
@{
    ViewBag.Title = "About";
}

<h1 style="text-align:center; color:silver">About us</h1>

<div class="cont">
    <div class="imgDetail">
        <a style="padding-left:330px" target="_blank" href="~/images/Tebogo.jpg">
            <img src="~/images/Tebogo.jpg" alt="Northern Lights" width="300" height="200">
        </a>
        <div style="font-size:25px" class="name">Tebogo Mokasola</div>
        <div style="font-size:25px" class="Info">
            <div style="font-size:25px" class="desc">
                <p>
                    Analytical and logical thinker *Ability to do Trend Analysis *Planning/Organizing * Self-Motivated/Ability to Work with Little or No Supervision.*Dedication/Hard-Working/Work Ethic/Tenacity.
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />

    div class="imgDetail">
    <a style="padding-left:180px" target="_blank" href="~/images/lucky.jpg">
        <img src="~/images/lucky.jpg" alt="Northern Lights" width="300" height="200">
    </a>


    <div style="font-size:25px" class="name">Lucky Mathebula</div>
    <div style="font-size:25px" class="Info">
        <div style="font-size:25px" class="desc">


            <p>
                A system developer learner at dynamic visual technologies who is dedicated to obtain as much knowledge he can in the presented opportunity he got. As a person with no experience in programming field, he find it hard to cope but with his dedication and persistance, he accomplish all the projects in time
            </p>

        </div>
    </div>
</div>
   
       

    



