
@{
    ViewBag.Title = "Contacts";
    <li><a href="#">Contacts us</a></li>
}

<p class="one" style="color:white; font:strong;"> 
    Physical address :<br /> 7002 Moleleki ext 2<br />
    Katlehong, 1431<br />

    <br />Postal Address:
    <br />PO Box 7002 Moleleki ext 2<br />
    Katlehong, 1431<br />

   <br />
     <abbr title="Phone">Tel: 011 879 8059</abbr>
    <strong> <br />For Quieries please email us at:</strong>
    <a href="mailto:LTATTechnologies@jhb.TFT.com">Ltattechnologies@jhb.ltatt.com</a><br />
</p>


<div class="Pop up">

    <label><b>name</b></label>
    <input type="text" placeholder="Enter name" name="uname">
    <br />

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="psw">
    <br />
    
    <button type="submit">Submit</button>
    
    <br />
   
</div>