
@{
    ViewBag.Title = "Contacts";
   
}
<h1 style="text-align:center; color:silver">Contact us</h1>
<p class="one" style="color:white; font:strong; font-size:28px"> 
    Physical address :<br /> Ground, Victoria Gate South <br />
    Hyde lane office park, 1431<br />
    Johannesburg, 2196<br />

    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.2705019928917!2d28.029280014493345!3d-26.122721783474073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95733791fe4717%3A0x5d6bbecd68c4858a!2sDVT!5e0!3m2!1sen!2sza!4v1481093056653" width="345" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

   <br />
     <abbr style="color:white;" title="Phone">Tel: 011 879 8059</abbr>
    <strong style="color:white;"> <br />For Quieries please email us at:</strong>
    <a href="mailto:LTATTechnologies@jhb.TFT.com">Ltattechnologies@jhb.ltatt.com</a><br />
</p>
<br />
    <div class="box">
        <div class="desc">
            <input type="text" placeholder="Enter name" name="uname" class="elements" id="uname" }>
            <br />

            <input type="email" placeholder="Enter Email" name="email" id="email" class="elements">
            <br />

            <button type="submit" style="margin-top:100px;  width:150px" onclick="show_alert();">Submit</button>

            <br />
        </div>
    </div>
  
    <script>
        function show_alert() {

            if (document.getElementById("uname").value == '') {
                alert("name field is empty");
            }else if(document.getElementById("email").value == '')
            {
                alert("email field is empty");
            }
            else if (document.getElementById("uname").onsubmit != '' && document.getElementById("email").onsubmit != ' ') {
                alert("Hello " + document.getElementById("uname").value + " we will email you soon at " + document.getElementById("email").value);
            }

        }
    </script>
