@model IEnumerable<E_Commerce.Models.ProductModel>

@{
    ViewBag.Title = "Products";
   
}

<div class="cont">
    @foreach (var item in Model)
    {
        <div class="img">

            <img src="@Url.Content(@item.imageUrl)" />

            <div class="desc">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="desc">@Html.ActionLink("View Details", "ProductDetail", new { Name = item.imageUrl })</div>
        </div>


    }
</div>
